Repository expressots/expresso-site-doc, pull requests merged in 2023-10, with the labels that each got.

#34 docs: fix incorrect Controller and parameter decorators
  docs/overview/controller.md
Labels: doc fix, hacktoberfest

#36 feat: review all doc for v2.5
  docs/hello.md
  docs/overview/application.md
  docs/overview/first-steps.md
  docs/overview/intro.md
Labels: doc update

#37 feat: add automatic versioning
  docs/cli/generate.md
  docusaurus.config.js
  i18n/pt/docusaurus-plugin-content-docs/current/cli/generate.md
  package-lock.json
  package.json
Labels: feature

#38 fix: update version && add global route config
  docs/codebyexample/utils.md
Labels: doc update
